<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-skull"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ms-auto"><p class="lead">Claims X-Ray is a free tool created to test Identity Provider application configuration before deploying to production, it is also very helpful to simulate and test application migration scenarios.</p></div>
        <div class="col-lg-4 me-auto"><p class="lead">Set the parameters as for standard federated applications and it will take care of the protocol negotiations. Check the token details and evaluate if the Identity Provider sent the expected results.</p></div>
      </div>
    </div>
  </section>
  